<div data-template="templates:surround" data-template-with="templates/page_index.html" data-template-at="content-container">
    <div class="container xqdocs" data-template="app:xqdocs">
        <div class="row" data-template="templates:each" data-template-from="modules" data-template-to="module">
            <section data-template="app:xqdocs-module">
                <h1 class="block-header">
                    <span data-template="app:xqdocs-name"></span>
                </h1>
                <div class="panel panel-default">
                    <div class="panel-heading"><span data-template="app:xqdocs-uri"/><span class="version" data-template="app:xqdocs-version"/></div>
                    <div class="panel-body">
                        <div class="desc" data-template="app:xqdocs-desc"/>
                        <div class="author" data-template="app:xqdocs-author"/>
                        <div data-template="templates:each" data-template-from="functions" data-template-to="function">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <span data-template="app:xqdocs-functionname"/>
                                </div>
                                <div class="panel-body">
                                    <pre><code><span data-template="app:xqdocs-signature"/></code></pre>
                                    <div class="desc" data-template="app:xqdocs-functiondesc"/>
                                    <ul class="param" data-template="app:xqdocs-functionparam"/>
                                    <div class="return" data-template="app:xqdocs-functionreturn"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
