<div data-template="templates:surround" data-template-with="templates/page_index.html" data-template-at="content-container">
        <div class="row faceted-search" data-template="fsearch:results">
        <ul class="col-md-3 facet-area">
            <div data-template="fsearch:facet"/>
        </ul>
        <div class="col-md-9">
            <div>
                <span id="page" class="hidden" data-template="fsearch:page"/>
                <span id="pages" class="hidden" data-template="fsearch:pages"/>
                <div>
                    <ul class="paginator pull-right"/>
                        Zeige Treffer <span id="hitstart" data-template="fsearch:hitstart"/> -
                        <span id="hitend" data-template="fsearch:hitend"/> von
                        <span id="hitcount" data-template="fsearch:hitcount"/> Treffern
                    </div>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Sortierung nach</label>
                        <div class="col-sm-3">
                            <select class="form-control input-sm">
                                <option>Relevanz</option>
                                <option>Titel</option>
                                <option>Jahr</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <select class="form-control input-sm">
                                <option>Aufsteigend</option>
                                <option>Absteigend</option>
                            </select>
                        </div>
                    </div>
                </form>
                <div data-template="templates:each" data-template-from="hits" data-template-to="hit" class="row">
                    <div class="col-md-10">
                        <div data-template="fsearch:result-xslt"/>
                        <p data-template="fsearch:result-kwic">KWIC matches</p>
                        <a href="#" data-template="fsearch:result-source">Source</a>
<!--                        <div data-template="fsearch:result-tble-links"/>-->
                        <hr/>
                    </div>
                    <div class="col-md-2">
                        <img data-template="fsearch:result-img"/>
                    </div>
                </div>
                <div>
                    <ul class="paginator pull-right"/>
                        Zeige Treffer <span id="hitstart" data-template="fsearch:hitstart"/> -
                        <span id="hitend" data-template="fsearch:hitend"/> von
                        <span id="hitcount" data-template="fsearch:hitcount"/> Treffern
                    </div>
            </div>
        </div>
    </div>
    <script>
          $(function() {

            // http://www.samaxes.com/2011/09/change-url-parameters-with-jquery/
            /*
             * queryParameters -&gt; handles the query string parameters
             * queryString -&gt; the query string without the fist '?' character
             * re -&gt; the regular expression
             * m -&gt; holds the string matching the regular expression
             */
            var queryParameters = {}, queryString = location.search.substring(1),
                re = /([^&amp;=]+)=([^&amp;]*)/g, m;

            // Creates a map with the query string parameters
            while (m = re.exec(queryString)) {
                // queryParameters[decodeURIComponent(m[1])] = decodeURIComponent(m[2]);
                queryParameters[m[1]] = m[2];
            }

            $('.paginator').bootstrapPaginator({
                bootstrapMajorVersion: 3,
                currentPage: $('#page').text(),
                totalPages: $('#pages').text(),
                pageUrl: function(type, page, current){

                    queryParameters['page'] = page;

                    var querystring = "";
                    $.each(queryParameters, function(key, val) {
                        querystring += key + "=" + val + "&amp;";
                    })
                    querystring = querystring.substring(0, querystring.length-1)

                    return window.location.pathname + '?' + querystring;
                }
		    })

		    //$('.paginator').bootstrapPaginator("show", 10);

		    $('.facet-minus').each(function() {
		        $(this).html($('&lt;span class="glyphicon glyphicon-minus-sign" /&gt;'));
		    });

		    $('.facet-plus').each(function() {
		        $(this).html($('&lt;span class="glyphicon glyphicon-plus-sign" /&gt;'));
		    });

          });
        </script>
</div>
