<div data-template="templates:surround" data-template-with="templates/page_index.html" data-template-at="content-container">
    <div class="container" id="content">
        <div data-template="confluence:confluence" data-template-id="58501833"/>
    </div>
</div>
